<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lounah.vkmc.feature.image_viewer">

    <application>
        <activity
            android:name=".ui.ImageViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageViewerTheme" />
    </application>

</manifest>
